{% extends "layouts/boilerplate.html" %}
{% from "macros/forms.html" import render_field %}

{% block page_content %}
<div class="page-header">
  <h2>Hello {{current_user.username}}</h2>
</div>
<div class="new-article">
  <h1>Write something</h1>
  <div class="new-article-form">
    <form method=post action="">
      <dl>
	{{ render_field(new_post_form.content, cols="48", rows="10") }}
      </dl>
      <p><input type=submit value=Create></p>
    </form>
  </div>
</div>
<h1>Blogalot Posts</h1>

<ul class="posts">
 {% for post in posts %}
 <li class="post">
   <div class="post-content">
     <div class="post-author">{{ post.author.username }}</div>
     <div class="post-body">
       {{ post.body }}
     </div>
     <div class="post-footer">
       {% if current_user == post.author %}
       <span class="label label-primary">Edit</span>
       {% endif %}
     </div>
   </div>
 </li>
 {% endfor %}
</ul>

{% endblock %}
