{% extends "layouts/boilerplate.html" %}
{% from "macros/forms.html" import render_field %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href={{url_for('static', filename='post-styles.css')}}>
{% endblock %}

{% block page_content %}
<div class="page-header">
  <h2>Hello {{current_user.name}}</h2>
</div>

<h1>Blogalot Posts</h1>
<div class="detail-box">
  <div class="title-box">
    <label>microBlogs</label>
  </div>
  <div class="posts">
    <ul id="post-list">
      {% for post in posts %}
      <li class="post">
	<div class="post-author">Author: {{ post.author.name | safe }}</div>
	<br>
	<div class="post-body">
	  <p>
	    {{ post.content | safe }}
	  </p>
	</div>
	<div class="post-footer">
	  {% if current_user == post.author %}
	 
	  <button type="button" class="btn btn-sm btn-edit"
		  data-toggle="modal" data-target="#edit-modal">Edit</button>
	 
	  <form class="form-inline" role="form" action="" method="POST">
	    <input type="hidden" value="{{post.id}}" name="delete_id"/>
	    <input type="submit" class="btn btn-sm btn-delete" value="Delete"/>
	  </form>
	  

	  {% endif %}
	</div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div id="text-area-wrapper">
     <label>Add a microBlog:</label>
     <form class="form-inline" method=post action="">
      {{ new_post_form.hidden_tag() }}
      <dl>
	{{ render_field(new_post_form.content) }}
      </dl>
      <p><input type=submit value=Create></p>
     </form>
  </div>
      
</div>

  <!-- Modal -->
  <div class="modal fade" id="edit-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="text" class="form-control" id="psw" placeholder="Enter password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
            <button type="submit" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a href="#">Sign Up</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div>
      </div>
    </div>
  </div> 

{% endblock %}
